In [1]:
import pandas as pd
df = pd.read_csv("TransactionMemo.csv")

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1894 entries, 0 to 1893
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      1894 non-null   int64
 1   Date    1894 non-null   object
 2   SMS     1894 non-null   object
dtypes: int64(1), object(2)
memory usage: 44.5+ KB

In [3]:
df

,ID,Date,SMS
0,569930573468793024,2019-01-22 14:02:53,Account *****535 has been created for you.
1,569930580988891008,2019-01-22 14:03:00,Dear Customer thank you for opening a new AED ...
2,569935786657491968,2019-01-22 15:29:46,Dear Customer thank you for requesting a new c...
3,573542794518876992,2019-03-05 09:26:34,Dear Customer AED 25806.50 was credited to you...
4,573677550725358016,2019-03-06 22:52:30,Dear Customer AED 12800.00 was debited from yo...
...,...,...,...
1889,710328394615280000,2023-07-05 13:26:34,Dear Customer AED 169.00 was debited from your...
1890,710843713953021056,2023-07-11 12:35:13,Dear Customer AED 50.00 was credited to your a...
1891,710857415412140032,2023-07-11 16:23:35,Dear Customer AED 250.00 was credited to your ...
1892,710921320148022016,2023-07-12 10:08:40,Dear Customer AED 100.00 was credited to your ...
1893,710924529005117056,2023-07-12 11:02:09,Dear Customer AED 400.00 was debited from your...

In [4]:
import pandas as pd

# Load your dataset
df = pd.read_csv("TransactionMemo.csv")

# Select 400 messages randomly
sample_df = df[['SMS']].sample(n=400, random_state=42).reset_index(drop=True)

# Rename the column to 'text' (Label Studio expects this)
sample_df.rename(columns={"SMS": "text"}, inplace=True)

# Save to CSV
#sample_df.to_csv("Labeled_SMS.csv", index=False)

In [5]:
annotated_df = pd.read_csv("Annotated_SMS.csv")

In [6]:
annotated_df

,annotation_id,annotator,created_at,id,label,lead_time,text,updated_at
0,7,1,2025-06-26T07:10:41.237960Z,1,"[{""start"":18,""end"":24,""text"":""173.00"",""labels""...",39.736,Dear Customer AED 173.00 was credited to your ...,2025-06-26T07:10:41.237979Z
1,8,1,2025-06-26T07:11:29.679967Z,2,"[{""start"":14,""end"":17,""text"":""AED"",""labels"":[""...",39.760,Dear Customer AED 10000.00 was debited from yo...,2025-06-26T07:11:29.679991Z
2,9,1,2025-06-26T07:12:21.174124Z,3,"[{""start"":14,""end"":17,""text"":""AED"",""labels"":[""...",49.191,Dear Customer AED 374.02 was debited from your...,2025-06-26T07:12:21.174148Z
3,10,1,2025-06-26T07:12:51.922902Z,4,"[{""start"":19,""end"":26,""text"":""1496.00"",""labels...",28.570,Dear Customer AED 11496.00 was debited from yo...,2025-06-26T07:12:51.922931Z
4,11,1,2025-06-26T07:13:25.257700Z,5,"[{""start"":19,""end"":24,""text"":""21.00"",""labels"":...",31.098,Transaction of AED 21.00 debited from your a/c...,2025-06-26T07:13:25.257724Z
...,...,...,...,...,...,...,...,...
395,401,1,2025-06-26T16:04:16.636213Z,396,"[{""start"":18,""end"":25,""text"":""4100.00"",""labels...",11.061,Dear Customer AED 4100.00 was debited from you...,2025-06-26T16:04:16.636232Z
396,402,1,2025-06-26T16:04:29.089500Z,397,"[{""start"":18,""end"":25,""text"":""3000.00"",""labels...",11.410,Dear Customer AED 3000.00 was credited to your...,2025-06-26T16:04:29.089521Z
397,403,1,2025-06-26T16:04:48.242536Z,398,"[{""start"":18,""end"":23,""text"":""30.00"",""labels"":...",15.790,Dear Customer AED 30.00 was debited from your ...,2025-06-26T16:04:48.242560Z
398,404,1,2025-06-26T16:05:02.243943Z,399,"[{""start"":18,""end"":24,""text"":""250.00"",""labels""...",12.767,Dear Customer AED 250.00 was credited to your ...,2025-06-26T16:05:02.243966Z
399,405,1,2025-06-26T16:05:42.851892Z,400,"[{""start"":14,""end"":17,""text"":""AED"",""labels"":[""...",36.464,Dear Customer AED 414.75 was debited from your...,2025-06-26T16:05:42.851915Z

In [7]:
annotated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   annotation_id  400 non-null    int64
 1   annotator      400 non-null    int64
 2   created_at     400 non-null    object
 3   id             400 non-null    int64
 4   label          400 non-null    object
 5   lead_time      400 non-null    float64
 6   text           400 non-null    object
 7   updated_at     400 non-null    object
dtypes: float64(1), int64(3), object(4)
memory usage: 25.1+ KB

In [8]:
import ast

# Keep only 'text' and 'label' columns
annotated_df = annotated_df[['text', 'label']].copy()

# Convert label from string to list-of-dicts (if needed)
annotated_df['label'] = annotated_df['label'].apply(
    lambda x: ast.literal_eval(x) if isinstance(x, str) else x
)

<unknown>:1: SyntaxWarning: invalid escape sequence '\/'
<unknown>:1: SyntaxWarning: invalid escape sequence '\/'
<unknown>:1: SyntaxWarning: invalid escape sequence '\/'
<unknown>:1: SyntaxWarning: invalid escape sequence '\/'
<unknown>:1: SyntaxWarning: invalid escape sequence '\/'
<unknown>:1: SyntaxWarning: invalid escape sequence '\/'
<unknown>:1: SyntaxWarning: invalid escape sequence '\/'
<unknown>:1: SyntaxWarning: invalid escape sequence '\/'
<unknown>:1: SyntaxWarning: invalid escape sequence '\/'
<unknown>:1: SyntaxWarning: invalid escape sequence '\/'
<unknown>:1: SyntaxWarning: invalid escape sequence '\/'

In [9]:
print(annotated_df.head())

                                                text  \
0  Dear Customer AED 173.00 was credited to your ...
1  Dear Customer AED 10000.00 was debited from yo...
2  Dear Customer AED 374.02 was debited from your...
3  Dear Customer AED 11496.00 was debited from yo...
4  Transaction of AED 21.00 debited from your a/c...

                                               label
0  [{'start': 18, 'end': 24, 'text': '173.00', 'l...
1  [{'start': 14, 'end': 17, 'text': 'AED', 'labe...
2  [{'start': 14, 'end': 17, 'text': 'AED', 'labe...
3  [{'start': 19, 'end': 26, 'text': '1496.00', '...
4  [{'start': 19, 'end': 24, 'text': '21.00', 'la...

In [10]:
row = annotated_df.iloc[4]
print("TEXT:\n", row['text'])
print("\nLABELS:\n", row['label'])  # should be a list of dicts with start/end

TEXT:
 Transaction of AED 21.00 debited from your a/c ****0535 at DU-BAWABAT- F09AD12 AUH AE. Avl Bal is AED 61.17

LABELS:
 [{'start': 19, 'end': 24, 'text': '21.00', 'labels': ['AMOUNT']}, {'start': 15, 'end': 18, 'text': 'AED', 'labels': ['CURRENCY']}, {'start': 25, 'end': 33, 'text': 'debited ', 'labels': ['CREDIT_OR_DEBIT']}, {'start': 47, 'end': 55, 'text': '****0535', 'labels': ['ACCOUNT_NUMBER']}, {'start': 102, 'end': 107, 'text': '61.17', 'labels': ['BALANCE']}, {'start': 98, 'end': 101, 'text': 'AED', 'labels': ['CURRENCY']}, {'start': 59, 'end': 85, 'text': 'DU-BAWABAT- F09AD12 AUH AE', 'labels': ['LOCATION']}]

In [11]:
import os
import torch
from transformers import BertTokenizerFast

# Suppress warnings
os.environ["TOKENIZERS_PARALLELISM"] = "false"
os.environ["WANDB_DISABLED"] = "true"

# Label Normalization
LABEL_NORMALIZATION = {
    "AMOUNT": "Amount",
    "CURRENCY": "Currency",
    "CREDIT_OR_DEBIT": "Credit_or_Debit",
    "ACCOUNT_NUMBER": "AccoutNo",
    "BALANCE": "Balance",
    "LOCATION": "Location"
}

# Label Mappings
all_labels = ['O']
for label in LABEL_NORMALIZATION.values():
    all_labels.extend([f'B-{label}', f'I-{label}'])

label2id = {label: i for i, label in enumerate(sorted(set(all_labels)))}
id2label = {i: label for label, i in label2id.items()}

# Load tokenizer
tokenizer = BertTokenizerFast.from_pretrained("bert-base-uncased")

In [12]:
def char_to_bio(text, entities):
    tags = ['O'] * len(text)
    for ent in entities:
        start, end = ent['start'], ent['end']
        raw_label = ent['labels'][0]
        label = LABEL_NORMALIZATION.get(raw_label.upper())
        if label is None: continue
        tags[start] = f'B-{label}'
        for i in range(start+1, end):
            tags[i] = f'I-{label}'
    return tags

def tokenize_and_align_labels(row):
    text = row['text']
    entities = row['label']
    char_tags = char_to_bio(text, entities)
    encoding = tokenizer(text, return_offsets_mapping=True, truncation=True, max_length=128)
    labels = []
    for idx, (start, end) in enumerate(encoding['offset_mapping']):
        if start == end:
            labels.append(label2id['O'])
        else:
            tag = char_tags[start] if start < len(char_tags) else 'O'
            labels.append(label2id.get(tag, label2id['O']))
    encoding['labels'] = labels
    return encoding

tokenized_dataset = [tokenize_and_align_labels(row) for _, row in annotated_df.iterrows()]

In [13]:
from datasets import Dataset
import numpy as np

dataset = Dataset.from_dict({
    'input_ids': [d['input_ids'] for d in tokenized_dataset],
    'attention_mask': [d['attention_mask'] for d in tokenized_dataset],
    'labels': [d['labels'] for d in tokenized_dataset]
})

# 80/20 train/test split
dataset = dataset.train_test_split(test_size=0.2, seed=42)

In [14]:
from transformers import BertForTokenClassification, TrainingArguments, Trainer, DataCollatorForTokenClassification

model = BertForTokenClassification.from_pretrained(
    "bert-base-uncased",
    num_labels=len(label2id),
    id2label=id2label,
    label2id=label2id
)

data_collator = DataCollatorForTokenClassification(tokenizer)

training_args = TrainingArguments(
    output_dir="./bert-sms-ner-2",
    do_train=True,
    do_eval=True,
    learning_rate=2e-5,
    per_device_train_batch_size=8,
    per_device_eval_batch_size=8,
    num_train_epochs=3,
    weight_decay=0.01
)

trainer = Trainer(
    model=model,
    args=training_args,
    train_dataset=dataset['train'],
    eval_dataset=dataset['test'],
    data_collator=data_collator
)

trainer.train()

Some weights of BertForTokenClassification were not initialized from the model checkpoint at bert-base-uncased and are newly initialized: ['classifier.bias', 'classifier.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.
Using the `WANDB_DISABLED` environment variable is deprecated and will be removed in v5. Use the --report_to flag to control the integrations used for logging result (for instance --report_to none).

TrainOutput(global_step=120, training_loss=0.3972070376078288, metrics={'train_runtime': 62.2574, 'train_samples_per_second': 15.42, 'train_steps_per_second': 1.927, 'total_flos': 22077688597392.0, 'train_loss': 0.3972070376078288, 'epoch': 3.0})

In [29]:
from seqeval.metrics import classification_report
import numpy as np

def align_predictions(predictions, label_ids):
    preds = np.argmax(predictions, axis=2)
    batch_size, seq_len = preds.shape
    out_label_list = [[] for _ in range(batch_size)]
    preds_list = [[] for _ in range(batch_size)]
    for i in range(batch_size):
        for j in range(seq_len):
            if label_ids[i][j] != -100:
                out_label_list[i].append(id2label[label_ids[i][j]])
                preds_list[i].append(id2label[preds[i][j]])
    return preds_list, out_label_list

outputs = trainer.predict(dataset['test'])
preds_list, out_label_list = align_predictions(outputs.predictions, outputs.label_ids)
print(classification_report(out_label_list, preds_list))

                 precision    recall  f1-score   support

       AccoutNo       0.97      0.97      0.97        80
         Amount       1.00      0.99      0.99        81
        Balance       0.99      0.99      0.99        79
Credit_or_Debit       0.99      1.00      0.99        79
       Currency       0.99      1.00      0.99       157
       Location       0.92      0.92      0.92        25

      micro avg       0.98      0.99      0.99       501
      macro avg       0.98      0.98      0.98       501
   weighted avg       0.98      0.99      0.99       501

In [39]:
def predict_entities(text, model, tokenizer, label_map):
    model.eval()
    encoding = tokenizer(text, return_tensors="pt", truncation=True, max_length=128, return_offsets_mapping=True)
    offset_mapping = encoding.pop("offset_mapping")

    # Move inputs to the same device as the model
    encoding = {k: v.to(model.device) for k, v in encoding.items()}

    with torch.no_grad():
        outputs = model(**encoding)

    predictions = torch.argmax(outputs.logits, dim=2)[0].cpu().tolist()  # .cpu() to move back to CPU
    offsets = offset_mapping[0].tolist()

    result = []
    for idx, (start, end) in enumerate(offsets):
        if start == end:
            continue
        label_id = predictions[idx]
        label = label_map[label_id]
        if label != 'O':
            word = text[start:end]
            result.append((word, label))
    return result

In [41]:
# Take first 5 SMS messages from the DataFrame
sms_samples = df['SMS'].head(5).tolist()

# Predict entities for each SMS
for i, sms in enumerate(sms_samples, 1):
    print(f"\nSMS {i}: {sms}")
    predicted_entities = predict_entities(sms, model, tokenizer, id2label)
    
    if predicted_entities:
        print("Predicted Entities:")
        for word, label in predicted_entities:
            print(f"  {word}: {label}")
    else:
        print("No entities predicted.")

SMS 1: Account *****535 has been created for you.
Predicted Entities:
  *: B-AccoutNo
  *: I-AccoutNo
  *: I-AccoutNo
  *: I-AccoutNo
  *: I-AccoutNo
  53: I-AccoutNo
  5: I-AccoutNo

SMS 2: Dear Customer thank you for opening a new AED account with ADIB. Your a/c number is: ****0535. For any assistance please call 600543216 or visit adib.ae.
Predicted Entities:
  AE: B-Currency
  D: I-Currency
  ADI: I-Location
  B: I-Location
  *: I-AccoutNo
  *: I-AccoutNo
  *: I-AccoutNo
  *: I-AccoutNo
  05: I-AccoutNo
  35: I-AccoutNo
  600: I-Location
  54: I-Location
  32: I-Location
  16: I-Location
  adi: I-Location
  b: I-Location
  .: I-Location
  ae: I-Location

SMS 3: Dear Customer thank you for requesting a new chequebook for your A/C NO: ****0535.  Your request will be fulfilled at the earliest. Sincerely ADIB
Predicted Entities:
  *: I-AccoutNo
  *: I-AccoutNo
  *: I-AccoutNo
  *: I-AccoutNo
  05: I-AccoutNo
  35: I-AccoutNo

SMS 4: Dear Customer AED 25806.50 was credited to your account ****0535. Your available account balance is AED 25806.50
Predicted Entities:
  AE: B-Currency
  D: I-Currency
  258: B-Amount
  0: I-Amount
  6: I-Amount
  .: I-Amount
  50: I-Amount
  credited: B-Credit_or_Debit
  *: B-AccoutNo
  *: I-AccoutNo
  *: I-AccoutNo
  *: I-AccoutNo
  05: I-AccoutNo
  35: I-AccoutNo
  AE: B-Currency
  D: I-Currency
  258: B-Balance
  0: I-Balance
  6: I-Balance
  .: I-Balance
  50: I-Balance

SMS 5: Dear Customer AED 12800.00 was debited from your account ****0535. Your available account balance is AED 13006.50
Predicted Entities:
  AE: B-Currency
  D: I-Currency
  128: B-Amount
  00: I-Amount
  .: I-Amount
  00: I-Amount
  de: B-Credit_or_Debit
  bit: I-Credit_or_Debit
  ed: I-Credit_or_Debit
  *: B-AccoutNo
  *: I-AccoutNo
  *: I-AccoutNo
  *: I-AccoutNo
  05: I-AccoutNo
  35: I-AccoutNo
  AE: B-Currency
  D: I-Currency
  1300: B-Balance
  6: I-Balance
  .: I-Balance
  50: I-Balance

In [43]:
sample_text = "INR 500.00 was debited from your account *XXXX1234. Available balance: INR 3050.00"

predicted_entities = predict_entities(sample_text, model, tokenizer, id2label)

print("Predicted Entities:")
for word, label in predicted_entities:
    print(f"{word}: {label}")

Predicted Entities:
500: B-Amount
.: I-Amount
00: I-Amount
de: B-Credit_or_Debit
bit: I-Credit_or_Debit
ed: I-Credit_or_Debit
*: B-AccoutNo
XX: I-AccoutNo
XX: I-AccoutNo
12: I-AccoutNo
34: I-AccoutNo
305: B-Balance
0: I-Balance
.: I-Balance
00: I-Balance

In [47]:
model.save_pretrained("./bert-sms-ner-2")
tokenizer.save_pretrained("./bert-sms-ner-2")

('./bert-sms-ner-2/tokenizer_config.json',
 './bert-sms-ner-2/special_tokens_map.json',
 './bert-sms-ner-2/vocab.txt',
 './bert-sms-ner-2/added_tokens.json',
 './bert-sms-ner-2/tokenizer.json')